{% extends "base.html" %}

{% block searchcontent %}

    <!-- Content here -->
    <div class="form ">
        <div class="container">
            <div class="row">
    
                <div class="col">
                    <form action="" method="POST" id="searchcontactform">
    
                        <h1>Search Contact</h1>
    
                        <div class="form-group">
                            <label for="InputFullName">Name</label>
                            <input type="text" class="form-control" id="InputFullName" aria-describedby="nameHelp" name="name" placeholder="Enter Name">
                        </div>
                            
                        <button type="submit" class="btn btn-primary" name="searchcontact">Search</button> |
                        <a href="{{ url_for('home') }}">Back</a>
                    </form>
    
                </div>
    
            </div>
        </div>
    
    </div>

{% endblock %}